@media only screen and (max-width: 1100px){
    .back-img{
        height: 350px;
    }
    
    .top-right{
        font-size: 1rem;
    }

    .lan-btns-container button{
        font-size: 1rem;
    }

    .centered {
        transform: translate(-50%, -15%);
    }

    .centered h1{
        font-size: 1.5rem;
    }

    #title-desc{
        display: none;
    }

    #more-btn{
        font-size: 1rem;
    }

    #main-container{
        flex-direction: column;
        margin: 1em;
    }

    .process{
        order: 2;
    }

    .products{
        order: 1;
        gap: 0.5em;
        flex: 1 1 auto;
    }

    .product{
        flex: 1 1 49%;
    }

    #contact-us{
        font-size: 1.2rem;
    }
}